Skip to content
This repository
Search
Pull requests
Issues
Gist
 @pauhus
 Unwatch 3
  Star 0
  Fork 0 pauhus/BookwormRobot
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathBookwormRobot/.gitignore
f4a4b90  6 days ago
@pauhus pauhus Dodanie logging.log do gitignore
1 contributor
RawBlameHistory     90 lines (62 sloc)  1.21 KB

# Created by https://www.gitignore.io/api/linux,eclipse,maven

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


test-output/


logging.log
logs/
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
